*{
    margin: 0;
    padding: 0;
    font-family: Arials;
    border: barder-box;
}
.navbar{
     height: 60px;
     background-color: #0f1111;
     color: white;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
}
.nav-logo{
    height: 55px;
    width: 113px; 
}
.logo{
 height: 55px;
 width: 113px; 
 background-image: url("what.jpg");
 background-size: cover;
 z-index: 1;
 border-radius: 2%;
}

.border{
    border: 1.5px solid transparent;

}
.border:hover{
    border: 1.5px solid white;
    border-radius:2%;
}

   /** box two**/
.add-first{
   color: #cccccc;
   font-size: 0.8rem;
   margin-left: 15px;
}
.add-sec{
 font-size: 1.1rem;
 margin-left: 3px;
}
.add-icon{
    display: flex;
 }
.nav-address{
  margin: 8px 4px 8px 3px;
   padding-left: 9px;
   padding-right: 0px;
 }
 /** box three **/
.nav-serch{
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  width: 625px;
  border-radius: 4px;
 }
.search-select{
    color: #0f1111;
    width: 52px;
    background-color: #E6E6E6;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 5px;  
}
.search-input{
    width: 100%;
    font-size: 1.2rem;   
    border: none;
}
.search-icon{
    font-size: 1.5rem;
    width: 60px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.nav-serch{
    border:2px solid transparent ;
}
.nav-serch:hover{
      border:2px solid orange;
}
/** box four **/
.nav-lang{
  height: 50px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin: 0px 0px 0px 1px;
}
.lang-div{
    height: 36px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.lang-logo{
    height: 16px;
    width: 20px;
 background-image: url("ame.jpg");
 background-size: cover;
 border-radius:2px;
 position: relative;
 top: 3px;
 right: 19px;
 margin: 0px 2px 1px 0px;
}
.lang{
    height: 15px;
    width: 15.3px;
    position: absolute;
}
/** box five **/
.nav-signin{
   width: 125px;
   height: 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;

}
.sign-first{

    font-size: 0.7rem;
}
.sign-second{
 
    font-size: 0.85rem;
    font-weight: 700;
    display: flex;
}
/**box seven **/
/* .fa-solid{
font-size: 30px;
} */
 .nav-cart i{
     font-size: 30px;
 }

.nav-cart{
    font-size: 0.9rem;
    font-weight: 700;
}

/** panel **/
.panel{
height: 40px;
background-color: #222f3d;
display: flex;
justify-content: space-evenly;
align-items: center;
color: white;

}
.panel-ops p{
    display: inline;
    margin: 5px 0px 6px;
    padding: 8px 9px;
}


.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals {
 font-size: 0.9rem;
 font-weight: 700;
}

/** hero section **/
.hero-section{
    background-image: url("amazon.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
     
}
.hero-message{
  background-color: white;
  color: black;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  width: 90%;
  margin-bottom: 30px;
}
.hero-message a{
    color: #007185;
}
/** shop section **/
.shop-section{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
background-color: #e2e7e6;
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px 0px;
    margin-top: 15px;
}
.div5{
    margin-bottom: 15px;
}
.div6{
    margin-bottom: 15px;
}
.div7{
    margin-bottom: 15px;
}
.div8{
    margin-bottom: 15px;
}

.box-content{
    margin: 5px 15px 5px 15px ;
}
.text-box{
    position: relative;
    bottom: 5px;
}
.box-content p{
color:#007185;
font-size: 1.2rem;
}
.box-img2{
    height: 300px;
    background-image: url("first.jpg");
    background-size: cover;
}
.box-img4{
    height: 300px;
    background-image: url("second.jpg");
    background-size: cover;
}.box-img5{
    height: 300px;
    background-image: url("third.jpg");
    background-size: cover;
}.box-img6{
    height: 300px;
    background-image: url("forth.jpg");
    background-size: cover;
}.box-img7{
    height: 300px;
    background-image: url("five.jpg");
    background-size: cover;
}.box-img8{
    height: 300px;
    background-image: url("six.jpg");
    background-size: cover;
}
.box-img1{
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.first-4{
    height: 100px;
    width: 280px;
      background-image: url("first-4-inone.jpg");
      background-size: contain;
      position: relative;
      right: 15px;
    
}
.box-img1 p1{
     color: #0f1111;  
    position: absolute;
    top: 110px;
    left: 40px;
}

.second-4{
    height: 100px;
    width: 280px;
      background-image: url("second-4-inone.jpg");
      background-size: contain;
      position: relative;
      left: 15px;

}
.box-img-2{
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    
}
.box-img-2 p1{
    position: relative;
    top: 100px;
    left: 40px;
    color: #0f1111;
}
.third-4{
    height: 100px;
    width: 280px;
      background-image: url("three-4-inone.jpg");
      background-size: contain;
      position: relative;
      right: 15px;

}
.forth-4{
    height: 100px;
    width: 280px;
      background-image: url("forth-4-inone.jpg");
      background-size: contain;
      position: relative;
      left: 15px;

}
.box-img3{
    height: 150px;
    margin-top: 10px;
}
.first-3{
    height: 150px;
   background-image: url("first-3-inone.jpg");
background-size: cover;
}
.first-3 p1{
     position: relative;
     left: 1px;
     top: 150px;
    color: #0f1111;
}
.small-portion{
     height: 150px; 
     margin-top: 30px;
     display: flex;
     justify-content: space-between;
}
.small-portion p1{
        position: relative;
        top: 100px;
}
.first{
    height: 100px;
    width: 100px;
    background-image: url("second-3-inone.jpg");
}
.second{
    height: 100px;
    width: 100px;
    background-image: url("three-3-inone.jpg"); 
}
.third{
    height: 100px;
    width: 100px;
    background-image: url("forth-3-inone.jpg"); 
}
/** best seller section (2 line)**/
.outer-best-seller{
    font-size: 24px;
    height: 280px;
    background-color: #E6E6E6;
    display: flex;
    justify-content: center;
}
.best-seller{
    width: 97%;
    height:280px;
    background-color: white;
}
.best-seller-head{
    padding: 20px;
    font-weight: 700;
    height: 26px;
    width: 285px; 
    position: relative;
    top:20px;
}
.toys{
    height: 220px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}
.toy-1{
    background-image: url("toy-1.jpg");
    background-size: cover;
    height: 220px;
    width: 250px;
}
.toy-2{
    background-image: url("toy-2.jpg");
    background-size: cover;
    height: 220px;
    width: 250px;
}
.toy-3{
    background-image: url("toy-3.jpg");
    background-size: cover;
    height: 220px;
    width: 250px;
}
.toy-4{
    background-image: url("toy-4.jpg");
    background-size: cover;
    height: 220px;
    width: 250px;
}
.toy-5{
    background-image: url("toy-5.jpg");
    background-size: cover;
    height: 220px;
    width: 250px;
}
/**  th  **/

.first-4-1{
    height: 100px;
    width: 130px;
      background-image: url("first-4-1.jpg");
      background-size: contain;
      position: relative;
     
}
.second-4-1{
    height: 100px;
    width: 130px;
      background-image: url("second-4-1.jpg");
      background-size: contain;
      position: relative;  

}
.third-4-1{
    height: 100px;
    width: 130px;
      background-image: url("third-4-1.jpg");
      background-size: contain;

}
.forth-4-1{
    height: 100px;
    width: 130px;
      background-image: url("forth-4-1.jpg");
      background-size: contain;

}

.first-4-2{
    height: 100px;
    width: 130px;
      background-image: url("first-4-2.jpg");
      background-size: contain;
      position: relative;
     
}
.second-4-2{
    height: 100px;
    width: 130px;
      background-image: url("second-4-2.jpg");
      background-size: contain;
      position: relative;  

}
.third-4-2{
    height: 100px;
    width: 130px;
      background-image: url("third-4-2.jpg");
      background-size: contain;
      position: relative;

}
.forth-4-2{
    height: 100px;
    width: 130px;
      background-image: url("forth-4-2.jpg");
      background-size: contain;

}
.forth-4-2 p1{
    color: #0f1111;  
   position: relative;
   left: 10px; 
}


.first-4-3{
    height: 100px;
    width: 130px;
      background-image: url("first-4-3.jpg");
      background-size: contain;
      position: relative;
     
}
.second-4-3{
    height: 100px;
    width: 130px;
      background-image: url("second-4-3.jpg");
      background-size: contain;
      position: relative;  

}
.third-4-3{
    height: 100px;
    width: 130px;
      background-image: url("third-4-3.jpg");
      background-size: contain;

}
.forth-4-3{
    height: 100px;
    width: 130px;
      background-image: url("forth-4-3.jpg");
      background-size: contain;

}
.box-img4-4{
    height: 300px;
    background-image: url("forth-4-4.jpg");
    background-size: cover;
}
.outer-best-seller-2{
    font-size: 24px;
    height: 280px;
    background-color: #E6E6E6;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.toys-2{
    height: 220px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}


.pro-1{
    background-image: url("pro-1.jpg");
    background-size: contain;
    height: 200px;
    width: 150px;
}
.pro-2{
    background-image: url("pro-2.jpg");
    background-size: cover;
    height: 220px;
    width: 240px;
}
.pro-3{
    background-image: url("pro-3.jpg");
    background-size: cover;
    height: 220px;
    width: 350px;
}
.pro-4{
    background-image: url("pro-4.jpg");
    background-size: cover;
    height: 220px;
    width: 250px;
}
.pro-5{
    background-image: url("pro-5.jpg");
    background-size: cover;
    height: 220px;
    width: 300px;
}
.div1-2{
    margin-bottom: 15px;
}
.div4-2{
    margin-bottom: 15px;
}







/** footer section**/
.footer{
    margin: 15px;
}
.inicio{
    background-color: #37475a;
    color: white;
    height: 50px;
    font-size: .9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel ul{
    margin-top: 20px;
    font-size: 1.2rem;
}
.foot-panel a{
    color: #dddddd;
     margin-top: 10px;
     display: block;
     font-size: 0.9rem;
}
.foot-panel{
      background-color: #222f3d;
      color: white;
      display: flex;
      justify-content: space-evenly;
      height: 280px;
}
.foot-panel-2{
    height: 70px;
    color: #dddddd;
    background-color: #222f3d;
    border-top: 0.2px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo-foot-panel-2{
    width: 113px;
    height: 60px;
    background-image: url("what.jpg");
    background-size: cover;
}
.foot-panel-2-language{
    height: 35px;
    width: 116px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 4px 0px 0px;
}
.lang-2{
    margin-left: 5px;
}
.border-2{
    border: 2px solid white;
}
.currency{
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 4px 0px 0px;
}
.dollar{
    margin: 0px 3px 0px 0px ;
}
.country{
    width: 142px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 4px 0px 0px;
}
.usa{
    height: 16px;
    width: 20px;
    background-image: url("ame.jpg");
    background-size: cover;
    display: inline-block;
}
.foot-panel-2-2{
    width: 450px;
    height: 35px;  
    display: flex;
}
.foot-panel-4{
    height: 80px;
    color: white;
    background-color: #131a22;
}
.privacy-notice {
    font-size: 0.9rem;
    height: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   padding-top:22px ;
}
.privacy-notice a{
    padding:  0px 8px 0px 8px ;

}
.copyright{
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

